<li {{ attributes }}>
  {% if href is empty %}
    <span class="we-megamenu-nolink dropdown-toggle" data-toggle="dropdown">{{ title }}</span>
  {% else %}
    <a {{ attributes_link }} class="we-mega-menu-li {{link_class}}" title="{{ attribute(attributes, 'description') }}" href="{{ href }}" target="{{ attribute(attributes, 'data-target') }}" aria-haspopup="true" aria-expanded="false">
      {% if (attribute(attributes, 'data-icon') is defined and attribute(attributes, 'data-icon')|trim) %}
        <span class="menu-title-wrapper">
          {{ title }}
        </span>
        {% if attributes | getMenuIcon() not NULL %}
          <span class="menu-icon-wrapper">
            {% include attributes | getMenuIcon() %}
          </span>
        {% endif %}
      {% else %}
        {{ title }}
      {% endif %}

      {% if (attribute(attributes, 'data-caption') is defined and attribute(attributes, 'data-caption')|trim) %}
        <span class="we-mega-menu-caption">{{ attribute(attributes, 'data-caption') }}</span>
      {% endif %}
    </a>
  {% endif %}
  {{ content }}
</li>


