<div class="hero-block">
  <div class="mobile-container">
    <div class="hero-wrapper">
      <div class="news-info">
        <a class="back-to-button" href="">{% include '/themes/custom/socomec/assets/images/picto/ui/chevron-left-circle.svg' %}{{ 'ALL NEWS' | t }}</a>
        <h1>
          <span class="news-title">{{ drupal_field('title', 'node') }}</span>
        </h1>
        <div class="news-sub-infos">
          <span class="news-theme">{{ drupal_field('field_news_type', 'node') }}</span>
          <span class="news-date">{{ node.createdtime|format_date('socomec_date') }}</span>
        </div>
      </div>
      <div class="news-image">
        {{ drupal_field('field_media_image', 'node') }}
      </div>
    </div>
  </div>
</div>
