<ul class="nav nav-tabs" id="myTab" role="tablist">
{% for tab in tabs %}
  <li class="nav-item">
  <a class="nav-link" id="home-tab" data-toggle="tab" href="#{{ tab.value | replace({' ': ''}) }}" role="tab" aria-controls="{{ tab.value | replace({' ': ''}) }}">
    <span>{{ tab.value }}</span>
    <span>{{ tab.sub }}</span>
  </a>
  </li>
{% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
  {% for key, content in tabs_content %}
    <div class="tab-pane" id="{{ key | replace({' ': ''}) }}" role="tabpanel" aria-labelledby="{{ key | replace({' ': ''}) }}-tab">
      <ul>
        {% for item in content %}
          <li>
            {{ item.link }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
