{#
/**
 * @file block_promotion_entity.html.twig
 * Default theme implementation to present Block promotion entity data.
 *
 * This template is used when viewing Block promotion entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_block_promotion_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block-promotion-entity',
  'block-promotion-entity-offer',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    <div class="soc-block-promo-entity-header">
      {% if content.field_is_new %}
        <div class="soc-block-promo-entity-is-new">
          {{ content.field_is_new.0 }}
        </div>
      {% endif %}
      <div class="soc-block-promo-entity-external-title">
        {{ content.field_external_title.0 }}
      </div>
      <div class="soc-block-promo-entity-sub-title">
        {{ content.field_sub_title.0 }}
      </div>
      <div class="soc-block-promo-entity-central-image">
        {{ content.field_central_image.0 }}
      </div>
    </div>
    {% set field_background_image = content.field_background_image %}
    {% set image_uri = field_background_image['#items'].entity.field_media_image.0.entity.uri.value %}
    {% if image_uri is not empty %}
      {% set field_background_image = image_uri | image_style('max_width_1140') %}
    {% else %}
      {% set field_background_image = field_background_image | getDefaultImg('bloc-promo-offer', 'max_width_1140')["#url"] %}
    {% endif %}
    <div class="soc-block-promo-entity-content" style="background-image:url('{{ file_url(field_background_image) }}')">
      <div class="soc-block-promo-entity-teaser">
        {{ content.field_teaser.0 }}
      </div>
      <div class="soc-block-promo-entity-description">
        {{ content.field_description.0 }}
      </div>
      <div class="soc-block-promo-entity-link">
        {% set url = content.field_link.0['#url'] %}
        {% set text = content.field_link.0['#title'] %}
        {% if content.field_link_target %}
          {% set target = content.field_link_target['#items'].0.value %}
        {% endif %}
        <a href="{{ url }}"{% if target %} target="{{ target }}{% endif %}">{{ text }}</a>
      </div>
    </div>
  {% endif %}
</div>
