{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'd-none',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content_top %}
    <div class="submenu-bg-top">
      <div{{ content_attributes.addClass(['content', 'container']) }}>
        {{ drupal_entity('block', 'exposedformglobal_searchpage_1') }}
      </div>
    </div>
  {% endblock %}

  {% block content_bottom %}
    <div class="submenu-bg-bottom">
      <div{{ content_attributes.addClass(['content', 'container']) }}>
{#        {{ content }}#}
        <div class="col-12 col-lg-6 wrapper-bottom-search top10">
          {{ drupal_entity('block', 'top5searches') }}
          <div class="search-suggestions search-default-suggestions" style="display: none;">
            <div class="header-search-suggestions header-search-default-suggestions"><span class="label-search-suggestions">{{ content.suggestion }}</span> <a class="see-all-search-suggestions" href="search">{{ 'See all'|t }}</a></div>
            <div class="result-search-suggestions result-search-default-suggestion">
              <ul class="clearfix nav">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 wrapper-bottom-search quick">
          {{ drupal_entity('block', 'quicklinks') }}
          <div class="search-suggestions search-categorized-suggestions" style="display: none;">
            <div class="header-search-suggestions header-search-categorized-suggestions"><span class="label-search-suggestions">{{ content.categorized }}</span></div>
            <div class="result-search-suggestions result-search-categorized-suggestions">
              <ul class="clearfix nav">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 search-suggestions-no-result" style="display: none;">{{ 'No results'|t }}</div>
      </div>
    </div>
  {% endblock %}
</div>
