<div id="navbar-wishlist-top">
  {% with {'key': 0} %}
    {% block navbar_wishlist %}
      <div class="navbar-wishlist">
        <nav class="navbar m-0 p-0 navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link no-background icon-dealer" href="#">{{ 'Find a dealer'|t }}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle icon-actions" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'Actions'|t }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="dropdown-item-text">{{ 'Exportations'|t }}</div>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-item-text">{{ form.actions.exports[key] }}</div>
                  <div class="dropdown-item-text">{{ 'Others actions'|t }}</div>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-item-text">{{ form.actions.others[key] }}</div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link icon-pricing" href="#">{{ 'Ask for pricing'|t }}</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    {% endblock %}
  {% endwith %}
</div>
<div id="wishlist_form_wrapper">
  <table class="full-width">
    <thead>
    <tr>
      <th>{{ 'Img'|t }}</th>
      <th>{{ 'Model'|t }}</th>
      <th>{{ 'Reference'|t }}</th>
      <th>{{ 'Main specifications'|t }}</th>
      <th>{{ 'Qty'|t }}</th>
      <th>{{ 'actions'|t }}</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range(0, form.wrapper_wishlist.nb['#value']) %}
      <tr id="wishlist_row_wrapper_{{ form.wrapper_wishlist[i].extid['#value'] }}">
        {{  form.wrapper_wishlist[i].extid }}
        {%  set quantity = "quantity_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        {%  set wishlist_action = "wishlist_action_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        {%  set picture = "picture_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        {%  set model = "model_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        {%  set reference = "reference_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        {%  set description = "description_" ~ form.wrapper_wishlist[i].extid['#value'] %}
        <td>{{ form.wrapper_wishlist[i][picture] }}</td>
        <td>{{ form.wrapper_wishlist[i][model] }}</td>
        <td>{{ form.wrapper_wishlist[i][reference] }}</td>
        <td>{{ form.wrapper_wishlist[i][description] }}</td>
        <td>{{ form.wrapper_wishlist[i][quantity] }}</td>
        <td>{{ form.wrapper_wishlist[i][wishlist_action] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{{ form | without('title', 'actions', 'wrapper_wishlist') }}
<div id="navbar-wishlist-bottom">
  {% with {'key': 1} %}
    {{ block('navbar_wishlist') }}
  {% endwith %}
</div>