{%
  set fields = [
  ['DC_P_ADVANTAGE_1_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_2_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_3_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_4_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_4_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_6_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_7_TITLE', 'DC_P_ADVANTAGE_1_TEXT'],
  ['DC_P_ADVANTAGE_8_TITLE', 'DC_P_ADVANTAGE_1_TEXT']
]
%}
<div id="product-advantage-section" class="advantage-wrapper col-lg-8">
  <h2 class="field--name-field-title ">{{ 'Advantages' |t }}</h2>
  {{ drupal_field('field_product_advantage_text', 'node') }}

  <div class="advantage-element-wrapper">
    {% for field in fields %}
      {% if drupal_field('field_json_product_data', 'node') | getfield(field.0) %}
        <div class="advantage-element col-md-6">
          <div class="row">
            <h3 id="{{ field.0 }}" class="h3-blue">
              {{ drupal_field('field_json_product_data', 'node') | getfield(field.0) }}
            </h3>
            {% if drupal_field('field_json_product_data', 'node') | getfield(field.1) %}
              <p>{{ drupal_field('field_json_product_data', 'node') | getfield(field.1) }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
{%  if drupal_field('field_product_application_label', 'node')[0] %}
  <div class="application-element col-lg-3 lg-auto">
    <div class="applications-wrapper">
      <h2>{{ drupal_field('field_product_application_label', 'node') }}</h2>
      <ul>
        {% for advantage in  drupal_field('field_json_product_data', 'node') | getfield('DC_P_APPLICATIONS') %}
          <li>{% include '/themes/custom/socomec/assets/images/picto/ui/chevron-right-circle-white.svg' %} {{ advantage }}</li>
        {% endfor %}
      </ul>
      {{ drupal_field('field_product_application_link', 'node') }}
    </div>
  </div>
{% endif %}
