<div id="bookmark_form_message" class="soc-my-list-form-message"></div>
<div id="bookmark_form_content_wrapper" class="soc-my-list-form-content-wrapper">
  <div id="navbar-bookmark-top" class="navbar-soc-my-list-top" style="display:none">
    {% with {'key': 0} %}
      {% block navbar_bookmark %}
        {%  set ml_auto = "" %}
        {% if key == 1 %}
          {%  set ml_auto = "ml-auto" %}
        {% endif %}
        <div class="bookmark-wishlist navbar-soc-my-list">
          <nav class="navbar m-0 p-0 navbar-expand navbar-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav {{ ml_auto }}">
                {% if form.wrapper_bookmark[0].nid is not empty %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle icon-actions" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Actions'|t }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-item-text label-section">{{ 'Actions'|t }}</div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item-text">{{ form.actions.others[key] }}</div>
                  </div>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      {% endblock %}
    {% endwith %}
  </div>
  <div id="bookmark_form_wrapper" class="soc_my_list_form_wrapper">
    {% if form.wrapper_bookmark.no_result %}
      <div class="no-result text-center"> {{ form.wrapper_bookmark.no_result }}</div>
    {% else  %}
      <table class="full-width">
        <thead>
        <tr>
          <th class="no-sort btn-responsive all"></th>
          <th class="no-sort bookmark-title all">{{ 'Title'|t }}</th>
          <th class="bookmark-title all">{{ 'Type'|t }}</th>
          <th class="no-sort bookmark-select-all all">{{ form.select_all }}</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(0, form.wrapper_bookmark.nb['#value']) %}
          {% if  form.wrapper_bookmark[i].nid['#value'] %}
            <tr id="item_line_{{ form.wrapper_bookmark[i].nid['#value'] }}">
              {{  form.wrapper_bookmark[i].nid }}
              {%  set title = "title_" ~ form.wrapper_bookmark[i].nid['#value'] %}
              {%  set type = "type_" ~ form.wrapper_bookmark[i].nid['#value'] %}
              {%  set bookmark_action = "bookmark_action_" ~ form.wrapper_bookmark[i].nid['#value'] %}
              <td class="btn-responsive"></td>
              <td>{{ form.wrapper_bookmark[i][title] }}</td>
              <td>{{ form.wrapper_bookmark[i][type] }}</td>
              <td>{{ form.wrapper_bookmark[i][bookmark_action] }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  {{ form | without('title', 'actions', 'wrapper_bookmark', 'select_all') }}
  <div id="navbar-bookmark-bottom" class="navbar-soc-my-list-bottom">
    {% with {'key': 1} %}
      {{ block('navbar_bookmark') }}
    {% endwith %}
  </div>
</div>
