{% if page.secondary_menu or page.top_header or page.top_header_form or page.hero %}
  <nav{{ navbar_top_attributes }}>
    {% if container_navbar %}
    <div class="container">
      {% endif %}
      {{ page.secondary_menu }}
      {{ page.top_header }}
      {% if page.top_header_form %}
        <div class="form-inline navbar-form float-right">
          {{ page.top_header_form }}
        </div>
      {% endif %}
      {% if container_navbar %}
    </div>
    {% endif %}
  </nav>
{% endif %}
<div class="branding">
  <div class="container">
    {{ page.header }}
    {% if page.header_form %}
      <div class="form-inline navbar-form float-right">
        {{ page.header_form }}
      </div>
    {% endif %}
  </div>
</div>
